.image-cropper__zoom-in,
.image-cropper__zoom-out {
  position: absolute;
  top: 2px;
  padding: 5px;
}

.image-cropper__zoom-out {
  left: 0;
}

.image-cropper__zoom-in {
  right: 0;
}

.image-cropper__slider-container {
  margin: 10px 50px;
  padding: 4px 40px;
  position: relative;
}

.image-cropper__slider-container button {
  border: 0;
  background: none;
}

.image-cropper__slider {
  height: 30px;
}

.image-cropper__slider .handle.active {
  background-color: #F06A48;
}

.image-cropper__slider .bar {
  position: relative;
  background: #F06A48;
}

.image-cropper__slider .bar.bar-1 {
  background: #414A52;
}

.image-cropper__slider .bar {
  top: 14px;
  height: 2px;
}

.image-cropper__slider .handle {
  top: 1px;
  width: 30px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #F06A48;
  cursor: pointer;
  border-radius: 14px;
}

.cropper-modal {
    background-color: #e8e6e4;
    opacity: 0.25;
}

.cropper-view-box {
    outline: 1px solid #95989A;
}

.cropper-bg {
    background: #e8e6e4;
}
